@charset "UTF-8";
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans";
  color: #2C4058;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

#header .container {
  position: fixed;
  z-index: 1;
  top: 53px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .logo {
  max-width: 241px;
  max-height: 56px;
}
#header .logo img {
  object-fit: unset;
}
#header .main_menu {
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "Source Sans Pro";
  width: 515px;
  padding-left: 29px;
}
#header .main_menu li {
  padding-left: 10px;
}
#header .main_menu li a {
  cursor: pointer;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
#header .main_menu li a::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 5px;
  left: -23px;
}
#header .main_menu li a:hover::before, #header .main_menu li a:active::before {
  background-color: #fff;
}

.social_networks {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 160px;
}
.social_networks li a {
  cursor: pointer;
  margin: 0 auto;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px #fff solid;
  border-radius: 50%;
  text-align: center;
}
.social_networks li a[title=facebook] {
  width: 10px;
  height: 18px;
  padding: 5px 14px;
  padding-top: 7px;
}
.social_networks li a[title=twitter] {
  width: 16px;
  height: 18px;
  padding: 5px 10px;
  padding-top: 7px;
}
.social_networks li a[title=instagram] {
  width: 14px;
  height: 18px;
  padding: 5px 10px;
  padding-top: 7px;
}
.social_networks li a:hover {
  color: #162654;
}

.slider-first {
  height: 100vh;
}

.swiper {
  z-index: 0;
}
.swiper .swiper-slide {
  position: relative;
  text-align: center;
}
.swiper .swiper-slide .content_slide {
  width: calc(100% - 25%);
  font-family: "Montserrat";
  position: absolute;
  top: 54.5%;
  left: 49.9%;
  margin-bottom: 300px;
  transform: translate(-50%, -50%);
  color: #fff;
}
.swiper .swiper-slide .content_slide .title {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 7px;
  line-height: 97.52px;
  padding: 17px;
}
.swiper .swiper-slide .content_slide .subtext {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 5.3px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.arrow {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px #fff solid;
  border-radius: 50%;
  left: 50%;
  bottom: 30px;
  position: absolute;
}
.arrow:after {
  content: "";
  z-index: 3;
  position: absolute;
  top: 11px;
  left: 14px;
  width: 10px;
  height: 10px;
  border-top: #fff 1px solid;
  border-right: #fff 1px solid;
  transform: rotate(132deg);
}

.what_do {
  background: url("../images/Rectangle1.jpg") 0 160px/543px 470px no-repeat, url("../images/Rectangle2.jpg") right 827px/545px 470px no-repeat;
  background-attachment: local;
}

.project .container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.project img {
  max-width: 630px;
}
.project .info_wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project .info_wrap .uptext {
  font-family: "Montserrat";
  font-size: 22px;
  padding-top: 95px;
}
.project .info_wrap h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  padding-top: 9px;
}
.project .info_wrap p {
  margin-top: 29px;
}
.project a {
  cursor: pointer;
  font-style: italic;
  font-size: 15px;
  color: #000000;
  line-height: 21px;
  text-decoration: none;
  padding-left: 16px;
  margin-top: 60px;
  margin-left: -20px;
}
.project a::before {
  content: "";
}
.project a:hover {
  transform: scale(1.05);
}

.project.second .info_wrap {
  padding-top: 34px;
  max-width: 480px;
}
.project.second .info_wrap h3 {
  font-size: 43px;
  padding-top: 12px;
}
.project.second .info_wrap p {
  margin-top: 32px;
  margin-bottom: -1px;
}
.project.second img {
  padding-top: 38px;
}

.what_do {
  padding-bottom: 40px;
}
.what_do .container {
  margin-top: 158px;
}

.section-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  margin-top: 100px;
  padding-top: 30px;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  height: 1px;
  top: -11px;
  left: 46.6%;
  width: 100px;
  border-top: 1px #2C4058 solid;
}

.project.second {
  margin-top: 39px;
}

.latest-news {
  margin-top: 84px;
  background-image: url(/assets/images/BackgroundNews.jpg);
}
.latest-news .container h2 {
  padding-top: 180px;
  color: #fff;
}
.latest-news .container h2::before {
  border-top: 1px #fff solid;
  top: 135px;
  left: 46.3%;
}

#slider-news {
  padding-bottom: 125px;
  position: relative;
  margin-top: 97px;
}
#slider-news .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-right: 40px;
  border: 1px solid white;
  background-color: transparent;
}
#slider-news .swiper-pagination-bullet-active {
  background-color: #fff;
}
#slider-news .swiper-pagination {
  position: relative;
  margin-top: 60px;
  z-index: 5;
}
#slider-news .mySwiper2 {
  max-width: 1170px;
}
#slider-news .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  max-width: 370px;
  height: 514px;
  display: flex;
  flex-direction: column;
}
#slider-news .swiper-slide img {
  max-height: 240px;
  margin-bottom: 30px;
}
#slider-news .swiper-slide h3 {
  margin-bottom: 9px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
}
#slider-news .swiper-slide p {
  margin-bottom: 39px;
  line-height: 24.5px;
}
#slider-news .swiper-slide h3, #slider-news .swiper-slide p, #slider-news .swiper-slide .author {
  padding: 0 20px;
}
#slider-news .swiper-slide .author {
  display: flex;
  justify-content: left;
}
#slider-news .swiper-slide .author .name {
  font-family: "Montserrat";
}
#slider-news .swiper-slide .author .date {
  font-family: "Montserrat";
  color: #55B7FF;
  font-size: 14px;
}
#slider-news .swiper-slide .author img {
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.swiper-button-next, .swiper-button-prev {
  content: "";
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
}

.swiper-button-next:after {
  content: "";
  z-index: 3;
  position: absolute;
  top: 13px;
  left: 11px;
  width: 10px;
  height: 10px;
  border-top: #fff 1px solid;
  border-right: #fff 1px solid;
  transform: rotate(44deg);
}

.swiper-button-prev:after {
  content: "";
  z-index: 3;
  position: absolute;
  top: 13px;
  left: 15px;
  width: 10px;
  height: 10px;
  border-top: #fff 1px solid;
  border-right: #fff 1px solid;
  transform: rotate(225deg);
}

.container.sliderN {
  max-width: 1370px;
}

.buttons-swipe {
  width: 101.5%;
  position: absolute;
  top: 35.7%;
  left: -12px;
  display: flex;
  justify-content: space-between;
}

#animate {
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}
#animate .imgLarge {
  display: flex;
}
#animate .imgLarge img {
  max-width: 580px;
}
#animate .smallerImg {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 585px;
}
#animate .smallerImg img {
  max-width: 285px;
}

#gallery {
  margin-bottom: 60px;
}
#gallery h2 {
  margin-top: 152px;
  margin-bottom: 100px;
}
#gallery .section-title::before {
  top: -13px;
  left: 45.6%;
}

.static-btn {
  cursor: pointer;
  border: 1px #2C4058 solid;
  color: #000000;
  height: 50px;
  max-width: 190px;
  padding: 0 41px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  margin-top: 33px;
}
.static-btn:hover, .static-btn:focus {
  background-color: #55B7FF;
  color: #fff;
  border: none;
}

.button-gal {
  display: block;
  margin: 0 auto;
  width: 190px;
  padding: 0 20px;
  margin-bottom: 139px;
}

.item:hover {
  overflow: hidden;
  position: relative;
}
.item:hover img {
  filter: blur(2px);
}
.item:hover:before {
  content: " ➕";
  font-size: 25px;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 7;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.form-wrap {
  width: 100%;
  max-width: 770px;
  background-image: url(/assets/images/bcform.jpg);
  background-repeat: no-repeat;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrap .section-title {
  margin-top: 145px;
  padding-top: 0;
  position: relative;
  margin-bottom: 54px;
}
.form-wrap .section-title::before {
  left: 36%;
  top: -40px;
}
.form-wrap h2 {
  margin-bottom: 32px;
}
.form-wrap .inf-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 54px;
  margin: 0 auto;
}
.form-wrap form {
  display: flex;
  flex-direction: column;
}

.contacts {
  list-style-type: none;
  line-height: 28px;
  cursor: pointer;
}
.contacts li {
  padding-bottom: 28px;
}
.contacts a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.contacts a:hover {
  text-decoration: underline;
}
.contacts span {
  padding-right: 10px;
}

.input-sect {
  height: 230px;
}
.input-sect input:hover, .input-sect input:active {
  border-bottom: 1px solid #2c4058;
}
.input-sect input {
  font-size: 18px;
  width: 310px;
  height: 41px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
}

.form_input.name {
  margin-bottom: 28px;
}

.form_input.email {
  margin-bottom: 33px;
}

form .static-btn.form {
  padding: 0 34px;
  height: 50px;
  margin-left: 170px;
  margin-top: 2px;
  font-size: 18px;
  font-family: "Montserrat";
}

#footer {
  background-image: url("/assets/images/BackgroundFooter.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrap {
  background-position: center;
  padding: 0px 0px 60px;
  left: 0;
  z-index: 12;
  position: relative;
  top: -345px;
}

.down-menu {
  max-width: 770px;
  position: relative;
}

.footer_bottom {
  width: 100%;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom .social_networks {
  margin-top: -67px;
}

.footer_bottom {
  position: absolute;
  margin: 0 auto;
  bottom: 160px;
  right: 5px;
  z-index: 30;
  max-width: 770px;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: 15px;
  top: 55.1%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom {
  left: 26px;
}

#slider-news .swiper-pagination-bullet {
  margin-right: 43px;
}

@media screen and (max-width: 1258px) {
  .swiper .swiper-slide .content_slide .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 1054px) {
  #header .main_menu {
    width: 368px;
  }

  .swiper .swiper-slide .content_slide {
    width: calc(100% - 15%);
  }
}