@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?o7w3lc");
  src: url("../fonts/icomoon.eot?o7w3lc#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?o7w3lc") format("truetype"), url("../fonts/icomoon.woff?o7w3lc") format("woff"), url("../fonts/icomoon.svg?o7w3lc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #2f281e;
  font-size: 1rem;
  color: #544837;
}

.container {
  width: 90%;
  max-width: 1125px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  padding: 35px 0;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.main_menu {
  list-style: none;
  float: right;
  margin-right: 29px;
  text-align: right;
  margin-top: 10px;
}

.hamb-menu {
  display: none;
}

.input {
  width: 325px;
}

.main_menu li {
  display: inline-block;
}

.logo {
  float: left;
  max-width: 185px;
  max-height: 35px;
  margin-top: -1px;
  margin-left: 12px;
}

.btn_wrap {
  float: right;
  text-align: right;
  margin-right: 30px;
}

.btn.orange {
  background-color: #ff9900;
  color: white;
  border: 1px solid #ff9900;
}

.btn.orange:hover {
  background-color: white;
  color: #ff9900;
}

.btn.white {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
}

.btn.white:hover {
  background-color: #173a56;
  color: white;
}

.btn {
  display: inline-block;
  cursor: pointer;
  max-height: 53px;
  padding: 0 41px;
  line-height: 53px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}

header .btn {
  height: 46px;
  padding: 0 24px;
  line-height: 46px;
  font-weight: 600;
}

.btn_wrap .btn:first-child {
  margin-right: 14px;
}

.main_menu li a,
.mobile_menu li a {
  color: #2f281e;
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  margin: 0 12px;
}

.main_menu li a:hover {
  color: #ff9900;
  text-decoration: underline;
}

.img_wrap {
  float: right;
  width: 54%;
  padding-top: 13px;
}

.play {
  max-width: 20px;
  max-height: 17px;
  display: inline-block;
  margin-left: 30.5px;
  margin-top: 2px;
}

.btn_wrap2 {
  float: left;
  width: 100%;
}

.text_wrap {
  float: left;
  width: 46%;
}

.content p {
  width: 100%;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 55px;
}

.content_h2 h2 {
  line-height: 54px;
  font-size: 44px;
  font-weight: 700;
  color: #2f281e;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.content_h2 {
  margin-bottom: 30px;
  max-width: 100%;
  padding-top: 95px;
}

.btn_wrap2 .new_orange {
  border: none;
  padding-left: 9px;
  color: #ff9900;
  text-decoration: underline;
  background-color: #ffffff;
}

.btn_wrap2 .new_orange:hover {
  text-decoration: none;
}

.btn_wrap2 .new_orange {
  padding-left: 8.5px;
  padding-right: 0;
}

.container.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 210px;
}

.tools_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}

.tool img {
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
}

.tool h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  color: #2f281e;
  margin-bottom: 13px;
}

.tool p {
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  max-width: 240px;
}

.h3_wrap h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  color: #2f281e;
}

.h3_wrap {
  width: 48%;
  text-align: center;
  margin-bottom: 51px;
}

section {
  width: 100%;
  margin-bottom: 127px;
}

.btn_wrap3 .btn {
  padding: 0 33px;
}

.tool.flex {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-content: space-between;
}

#footer {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
}

.list ul li {
  list-style-type: none;
  color: #544837;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

#footer .container.flex {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  padding-top: 22px;
  padding-bottom: 83px;
}

.list.l1 {
  /* width: 72px; */
  padding-right: 161px;
  margin-left: 338px;
  padding-top: 9px;
}

.list.l2 {
  /* width: 131px; */
  padding-right: 81px;
  padding-top: 9px;
}

.btn_wrap4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer .container.first {
  padding-top: 102px;
  margin: 0 0;
  width: 100%;
}

#footer .btn {
  height: 39px;
  padding: 0 15px;
  line-height: 39px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}

.inpt {
  height: 48px;
  width: 100%;
  margin-bottom: 22px;
  margin-top: 31px;
  margin-right: -14px;
  border-radius: 4px;
  border-color: #bcd0e5;
  border: 1px solid #bcd0e5;
}

.container.img p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-bottom: 25px;
}
.container.img h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #2F281E;
  margin-bottom: 12px;
}
.container.img h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #2F281E;
  margin-bottom: 22px;
}
.container.img .sup-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #544837;
  margin-bottom: 3px;
}
.container.img .under-title,
.container.img .done {
  margin-bottom: 30px;
}

.text-wrap {
  max-width: 486px;
}

.tl {
  margin-bottom: 102px;
}

.img-wrap.man1 {
  width: 48%;
  height: auto;
}
.img-wrap.man1 img {
  width: 100%;
}

.img-wrap.man2 {
  width: 48%;
  max-height: 520px;
}

.img-wrap.man3 {
  width: 48%;
  max-height: 609px;
}

.container.img {
  display: flex;
  justify-content: space-between;
}

.icon-heart:before {
  content: "";
  color: #FFFFFF;
  font-size: 16px;
}

.icon-stumbleupon:before {
  content: "";
  color: #FFFFFF;
  font-size: 16px;
}

.icon-mouse-pointer:before {
  content: "";
  color: #FFFFFF;
  font-size: 16px;
}

.icon-hourglass-2:before {
  content: "";
  color: #FFFFFF;
  font-size: 16px;
}

.icon-hourglass-half:before {
  content: "";
  color: #FFFFFF;
  font-size: 16px;
}

.icon1 {
  background-color: #7752BE;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon2 {
  background-color: #FAB005;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon3 {
  background-color: #F03E3D;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.icon4 {
  background-color: #4DADF7;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.done {
  margin-left: 75px;
}

.relative {
  margin-top: 16px;
}

.first {
  position: relative;
}

.second {
  position: relative;
}

.third {
  position: relative;
}

.done::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 13.85px;
  background-color: #ff9900;
}

.done::after {
  content: "";
  box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  width: 15px;
  height: 8px;
  border-left: 2px white solid;
  border-bottom: 2px white solid;
  z-index: 20;
  transform: rotate(-44deg);
}

.done.first::before {
  top: 10px;
  left: -65px;
}

.done.second::before {
  top: 10px;
  left: -65px;
}

.done.third::before {
  top: 10px;
  left: -65px;
}

.done.first::after {
  top: 21px;
  left: -54px;
}

.done.second::after {
  top: 21px;
  left: -54px;
}

.done.third::after {
  top: 21px;
  left: -54px;
}

.img-r-first {
  padding-top: 25px;
}

.img-l-first {
  padding-top: -1px;
}

.img-r-second {
  padding-top: 16px;
  padding-bottom: 20px;
}

.text-wrap {
  width: 43%;
}

.btn_wrap2 .new_orange {
  padding-left: 2px;
}

#side_block {
  position: fixed;
  width: 300px;
  background-color: #ef9918;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 35px 40px;
  text-align: left;
  border-radius: 4px;
  z-index: 50;
  transition: all 0.7s ease;
  transform: translateX(-300px);
}
#side_block.open {
  transform: translateX(0);
}

.mobile_menu {
  list-style: none;
}

.mobile_menu li a {
  font-size: 30px;
  line-height: 50px;
  font-weight: 600;
}

.mobile_menu li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .content_h2 h2 {
    font-size: 3.911vw;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .content_h2 {
    padding-top: 60px;
  }

  .content p {
    font-size: 16px;
    margin-bottom: 27px;
    line-height: 27px;
  }

  .btn.orange {
    padding: 0 25px;
  }

  .play {
    margin-left: 12px;
  }

  .h3_wrap h3 {
    font-size: 35px;
    line-height: 41px;
  }

  .tools_wrap {
    gap: 15px;
  }

  .tool div:first-child {
    margin-bottom: 15px;
  }

  .tool h5 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .container.img .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container.img h3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  .container.img .under-title {
    margin-bottom: 13px;
  }

  .container.img p {
    line-height: 22px;
    margin-bottom: 6px;
  }

  .list.l1 {
    padding-right: 84px;
    padding-top: 0px;
  }

  #footer .container.flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 995px) {
  .hamb-menu {
    display: block;
    float: right;
  }

  .main_menu {
    display: none;
  }

  .hamburger {
    padding: 10px;
    padding-right: 0px;
  }

  .btn_wrap {
    float: none;
  }

  .hamb-menu {
    margin-right: 30px;
  }

  .logo {
    float: none;
  }
}
@media screen and (max-width: 768px) {
  .img_wrap {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  .text_wrap {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    float: none;
  }

  .content_h2 {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .content_h2 h2 {
    font-size: 26px;
    line-height: 25px;
  }

  .tools_wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tool {
    margin-bottom: 15px;
  }

  .container.img {
    flex-wrap: wrap;
  }
  .container.img .img-wrap {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .container.img .text-wrap {
    width: 60%;
    margin: 0 auto;
    order: 1;
  }

  section {
    margin-bottom: 50px;
  }

  .container.flex {
    margin-bottom: 120px;
  }

  .list.l1 {
    margin-left: 0px;
    padding-right: 60px;
  }

  .list.l2 {
    padding-right: 0px;
    padding-top: 9px;
  }

  .input {
    width: 250px;
  }
}
@media screen and (max-width: 480px) {
  .play {
    display: none;
  }

  .h3_wrap h3 {
    font-size: 30px;
  }

  #side_block {
    width: 200px;
    padding: 35px 10px;
    transform: translateX(-200px);
  }
  #side_block.open {
    transform: translateX(0);
  }
}