.top-panel {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
  color: white;
}
.top-panel.panel-error {
  background-color: tomato;
}
.top-panel.panel-success {
  background-color: green;
}
.top-panel.panel-info {
  background-color: lightblue;
  color: #232323;
}