@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?en94em');
  src:  url('../fonts/icomoon.eot?en94em#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?en94em') format('truetype'),
    url('../fonts/icomoon.woff?en94em') format('woff'),
    url('../fonts/icomoon.svg?en94em#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-dribbble:before {
  content: "\f17d";
}
