%button{
   
        height: 60px;
        padding: 0 44px 0 35px;
        cursor: pointer;
        background-color: #5474FD;
        color:white;
        border:none;
        font-family: "Aleo";
        font-size: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;  
}

%button-animate{
    background: rgb(73,107,254);
background: linear-gradient(45deg, rgba(73,107,254,1) 0%, rgba(73,107,254,1) 47%, rgba(84,116,253,1) 47%, rgba(84,116,253,1) 100%);
background-position: center 0;
background-size: 300% 60px;
transition: all .4s ease;
&:hover{
    background-position: left top;
}
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  color: #E8E8E8;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  &.lock {
    overflow: hidden;
  }
}


.container{
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;

}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

.hamb-menu{
    display: none;
}
.page-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 2999;
    &.open{
        display: block;
    }
}

#side-block{
    width: 300px;
    position: fixed;
    left: 0;
    top:0;
    background-color: #5474FD;
    color: #fff;
    border-right: #fff 7px solid;
    .hamburger{
        padding: 0;
    }
    ul{
        list-style-type: none;
        padding-top: 35px;
        
        li {
          border-bottom: #fff 5px solid;
            &:hover{
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
               
            }
            margin-bottom: 30px;
            font-family: "Aleo";
            a{
            color:#fff;
            font-size: 30px;
            text-decoration: none;
            }
        }
    }
    padding: 30px;
    height: 100vh;
    z-index: 3000;
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    &.open{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}

.first-screen{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-item-align: center;
            align-self: center;
        .img-wrap{
            max-width: 372px;
            max-height:76px ;
            margin-bottom: 48px;
        }
        .search-wrap{
            padding: 2px;
            background-color: #fff;
            margin-bottom: 108px;
            width: 100%;
            max-width: 600px;
        }
        form{
            display: flex;
            input{
                padding: 15px;
                width: calc(100% - 150px);
                height: 60px;
                text-align: center;
                font-family: "Josefin Sans", sans-serif;
                border: none;

                &::placeholder{
                    color:#999999;
                    font-size: 14px;
                    letter-spacing: 2.8px;
                }
            }
            button{
               @extend %button;
                    display: flex;
                    align-items: center;
                    gap:10px;
                    width: 150px;
               &:hover{
                background-color: rgb(235, 228, 228);
                color:#5474FD;
              }
               .icon-search:before {
                    content: "\e902";
                    font-size: 30px;
                    color:white;
              }
               &:hover{
                    background-color: rgb(235, 228, 228);
                    color:#5474FD;
                    .icon-search:before {
                        content: "\e902";
                       color:#5474FD;
                  }
               }
            }
            
        }
        .scroll-down{
            &:hover{
                -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                        transform: scale(1.2);
                -webkit-transition: all .5s ease-in;
                -o-transition: all .5s ease-in;
                transition: all .5s ease-in;
            }
            letter-spacing: 2.8px;
            position: relative;
            font-size: 14px;
            a{
                text-decoration: none;
                color: white;
                padding: 25px 5px 20px 5px;
            }
            &::after{
                content:"";
                position: absolute;
                width: 11.5px;
                height: 11px;
                top: 25px;
                left: 45px;
                border-bottom: 2px white solid;
                border-left: 2px white solid;
                -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
            }
        }
    }
  
}

header{
        position: -webkit-sticky;
        position: sticky;
        z-index: 1000;
        top: 0;
        left: 0;    
    
        &.scroll{
            -webkit-box-shadow: 0 0 5px #999;
                    box-shadow: 0 0 5px #999;
            -webkit-backdrop-filter: blur(7px);
                    backdrop-filter: blur(7px);
            opacity: 0.9;
        }
    background-color: #5474FD;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        
        .img-wrap{
            max-width: 162px;
            max-height:20px ;
        }
        nav{
width: 47%;
        ul{
            list-style-type: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 100%;
            li{
               
                &:hover{
                    -webkit-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                            transform: scale(1.1);
                   
                }
                 a{
                    text-decoration: none;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-family: "Aleo";
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
           
        }
     }
    }

}

.why-us{
    background-repeat: no-repeat;
    background-size: cover;
    .first-part{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .text-wrap{
        padding-top: 211px;
        padding-bottom: 131px;
        max-width: 50%;
        h2{
            font-family: "Aleo";
            font-size: 36px;
margin-bottom: 50px;
        }
        p{
            margin-bottom: 30px;
        }
        button{
            position: relative;
            overflow: hidden;
            margin-top: 20px;
            @extend %button;
            @extend %button-animate;
            border: none;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            padding: 0 40px 0 40px;
        }
    }
    .images-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .img-wrap:first-child{
            margin-left: 110px;
            margin-bottom: 10px;
        }
        .img-wrap{
            max-width: 350px;
            min-width: 340px;
            margin-left: 200px;
        }
    }

  
}

.steps{
    background-color: #333333;
    font-family: "Aleo";
    font-size: 36px;
    padding-bottom: 116px;

  .container{
    max-width: 980px;
  }
  .block{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: center;
          align-self: center;
      div{
          padding-top: 25px;
      }
  }
    .steps-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 112px;

        span{
            width: 62px;
            height: 61px;
          position: relative;
        }
     
            .icon-search:before {
              content: "\e902";
              color:#5474FD;
              font-size: 89px;
              position: absolute;
              top:-25px;
              left:-15px;
          
            }
            .icon-thumb-up:before {
                content: "\e901";
                color:#1671A6;
                font-size: 66px;
                position: absolute;
                top:-10px;
                left:-9px;
              
              }
             
            .red.block:hover{
                div{
                    color:#FF6363;
                } 
           }
.red.block{
    position: relative;
}
           .red span:before { 
            color:#FF6363;
            border-radius: 50%;
            border: 2px solid #FF6363; 
            position: absolute;
                top:-10px;
                left:3px;  
            font-size: 50px;
            padding: 2px; 
           }
            .block:hover{
               div{
                   color:#5474FD;
               }
             }

    }
}

.steps-block{
    position: relative;
}
.brackets{
    position: absolute;
    height: 65px;
    width: 80%;
    margin: 0 auto;
    bottom: 126px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    &::after{
        content: "";
        width: 453px;
        height: 495px;
        position: absolute;
        left: -30px;
        top:10px;
border-radius: 50%;
border-top: #cab8b8 1px solid;
    }
    &::before{
        content: "";
        width: 453px;
        height: 495px;
        position: absolute;
        right: -30px;
        top:10px;
border-radius: 50%;
border-top: #cab8b8 1px solid;
    }
}




.country{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 215px;
    padding-bottom: 85px;
    .block-wrap{
        padding: 50px 32px 50px 32px;
        background-color: #232323e9;
        width: 49%;
       .country{
           font-size: 20px;
           letter-spacing: 1.5px;
           padding-bottom: 23px;
       }
       .title{
        font-size: 20px;
        padding-bottom: 13px;
        text-transform: uppercase;
       }
       p{
           margin-bottom: 46px;
           font-size: 14px;
       }
       button{
           position: relative;
           overflow: hidden;
           @extend %button;
           @extend %button-animate;
           border: none;
           -webkit-transition: all .3s;
           -o-transition: all .3s;
           transition: all .3s;
           padding: 0 64px 0 64px;
         
       }
    }
}

.country.right{

    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
   
}

.comment{
    background-repeat: no-repeat;
    background-size: cover;
   
    .container
    {
        padding-bottom: 199px;
      
        h2{
            font-family: "Aleo";
            font-size: 36px;
            text-align: center;
            padding-top: 128px;
            padding-bottom: 91px;
            font-weight: 400;
        }
        .center-block{
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .img-wrap{
                width: 40%;
            }
            .text-wrap{
                background-color: #333333;
              letter-spacing: 1.2px;
            
                .name{
                    text-transform: uppercase;
                    font-size: 20px;
                    padding-bottom: 15px;
                }
                .icon-quote-left p{
                    text-indent: 48px;
                    font-family: 'Josefin Sans';
                    font-size: 16px;
                    line-height: 1.6;
                }
                .icon-quote-left{
                    position: relative;
                }
             
                .icon-quote-left:before {
                    content: "\f10d";
                    position: absolute;
                    top: -15px;
                    left: -3px;
                    font-size:38px;
                    color:#5474FD;
                  }
                width: 60%;
                padding: 49px 25px 39px 62px;
            }
        }
    }
}


footer{
    padding-top: 122px;
    padding-bottom: 53px;
    background-color: #232323;
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .img-wrap{
            max-width: 196px;
            max-height: 51px;
          img{
            padding-bottom: 35px;
          }
        }
        .content-wrap-footer{
          
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
        ul{
            list-style-type: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 166px;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -ms-flex-item-align: center;
                align-self: center;
        
            li{
                a{
                    text-decoration: none;
                    color:#E8E8E8;
                    &:hover{
                    color:#5474FD;
                    }
                }
            }
        }
    }
   
}



  span.words{
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
       position: relative;
       z-index: 2;
   }

  button:hover {
      cursor: pointer;
    .words{
        color: #fff;
    }
    .words:before {
      width: 230px;
      z-index: -2;
    }
  }
  @media screen and (max-width:1024px){
      header{
          .container{
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            .img-wrap{
                padding-right: 35px;
            }
            nav{
                width: 74%;
            }
          }
      }
      .why-us .text-wrap {
        padding-top: 150px;
        padding-bottom: 70px;
        p{
            margin-bottom: 15px;
        }
        h2{
            margin-bottom: 20px;
        }
      }


      .brackets{
        width: 75%;
    
            height: 50px;
            bottom: 100px;
        &::after{
            width: 300px;
            height: 300px;
            left: -30px;
        }
        &::before{
            width: 300px;
            height: 300px;
            right: -30px;
 
        }
    }
    

.steps .container {
    max-width: 709px;
}
.steps{
  
padding-bottom: 60px;
    span{
        width: 40px;
        height: 40px;
    }
 .text{
     font-size:25px;
 }
 .steps-block .icon-search:before {
          font-size: 60px;
          top:-7px;
          left:17px;
      
        }
        .steps-block  .icon-thumb-up:before {
            font-size: 46px;
            top:1px;
            left:-9px;
          
          }

          .steps-block .red span:before { 
            top:-10px;
            left:12px;  
        font-size: 35px;
        padding: 2px; 
       }
    }
    .steps .block div {
        padding-top: 4px; 
    }


    .country{
        padding-top: 100px;
        .container{
            .block-wrap {
                margin: 0 auto;
                  width: 70%;
                  p{
                      font-size: 19px;
                  }
                  .title{
                    font-size: 23px;
                  }
              }
        } 
  }
}

  @media screen and (max-width:990px){
    .first-screen .container form input{
        width: 100%;
    }
      .first-screen{
          .container{
              .search-wrap{
                width: calc(100% - 300px);
                min-width: 350px;
              }
            
      form{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient:vertical;
          -webkit-box-direction:normal;
              -ms-flex-direction:column;
                  flex-direction:column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          
          button{
            cursor: pointer;
            width: 100%;
            justify-content: center;
           
            .icon-search:before {
                left: 200px;
            }
          }
        }
      }
    }

    .comment .container h2 {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .comment .container {
        padding-bottom: 100px;
    }

    footer{
        padding-top: 60px;
        padding-bottom: 20px;
  }
}
  @media screen and (max-width:897px){
    .comment .container .center-block .text-wrap{
        padding: 50px 40px 39px 40px;   
    }
    .why-us .images-block {
        .img-wrap,
        .img-wrap:first-child{
            margin-left: 10px;
            margin-bottom: 10px;
            min-width: 250px;
        }
        
    }
.comment .container{
    h2{
        font-size:40px;
    }
    .center-block{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
       
        .img-wrap{
            width: 75%;
        }
      
        .text-wrap{
            width: 75%;
            p{
                font-size: 18px;
            }
        }
}

}

  }
  @media screen and (max-width:750px){
    .brackets{
        display: none;
        width: 0;
    }
    .steps .steps-block {
        padding-top: 45px;
        .text{
            font-size:25px;
        }
    }
  }
  @media screen and (max-width:670px){
      .hamb-menu{
          display: block;
      }
      .main-menu{
        display: none;      
    }
    header{
        .container{
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
        }
    }

     .why-us .first-part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
       
        .text-wrap{
            padding-top: 70px;
            text-align: center;
            padding-bottom: 20px;
            max-width: 75vw;
        }

        padding-bottom: 50px;
        .img-wrap{
            padding-bottom: 15px;
        }
    }


    .country{
        padding-top: 60px;
        .container{
            .block-wrap {
                  width: 80%;
                  p{
                      font-size: 17px;
                  }
                  .title{
                    font-size: 20px;
                  }
              }
        } 
  }
  }
  @media screen and (max-width:560px){
    .steps .steps-block {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
       .block{
           margin-bottom: 25px;
           .icon-search:before {
            top: -1px;
            left: -11px;
        }
        .red span:before {
            top: 9px;
            left: 6px;
       }
       .icon-thumb-up:before {  
        top: 6px;
        left: 3px;
    }
  }

  footer .container .content-wrap-footer {
    padding-top: 30px;
    padding-bottom: 20px;
}
}

  .comment .container{
    h2{
        font-size:30px;
        padding-top: 50px;
    }
    .center-block{
      
      
        .img-wrap{
            width: 90%;
        }
        .text-wrap{
            padding: 15px;
            width: 90%;
            p{
                font-size: 16px;
                
            }
        }
}

}

  @media screen and (max-width:480px){
    .first-screen{
        .container{
            .img-wrap{
                max-width: 350px;
            }
            .search-wrap{
                width: 80%;
                max-width: 350px;
                min-width: 210px;
            }
    form{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                
        input{
            min-width: 210px;
        }
        button{
          min-width: 210px;
        }
      }
    }
  }

  .why-us .first-part{
      h2{
          font-size: 25px;
      }
  }
}

.country{
    padding-top: 50px;
    .container{
        .block-wrap {
              width: 90%;
              padding: 15px;
              p{
                margin-bottom: 18px
              }
             
          }
    } 
}
  }