#page.light {
  background-color: #38686a;
  min-height: 100vh;
}
#page.light .modal_overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
#page.light .modal_overlay .myModal {
  background-color: #187795;
  border: #cdc6ae 7px solid;
  box-shadow: 5px 5px 5px 0px #2f2222, inset 7px 9px 15px 0px #2f2222, 13px 8px 13px 5px #2f2222;
}
#page.light #myheader-wrap.mycontainer.scroll {
  box-shadow: 0 0 5px #999;
}
#page.light #myheader .mycontainer {
  background-color: #2589bd;
}
#page.light #myheader .main_menu li a {
  color: #ffffff;
}
#page.light #myheader .main_menu li a:hover {
  color: #2f2222;
}
#page.light #myheader .main_menu li a button {
  color: #fff;
}
#page.light #myheader .main_menu li a button:hover {
  color: #2f2222;
}
#page.light #myheader .main_menu li a::before {
  border: 1px solid #fff;
}
#page.light #myheader .main_menu li a:hover::before,
#page.light #myheader .main_menu li a:active::before {
  background-color: #fff;
}
#page.light .wrap-color {
  background-color: #187795;
}
#page.light .col-4 button {
  color: #fff;
}
#page.light .col-4 button:hover {
  color: #2f2222;
}
#page.light .btn-warning {
  border: 6px;
  background-color: #38686a;
  border-color: #2589bd;
  color: #fff;
}
#page.light .btn-warning:hover {
  color: #2f2222;
}
#page.light .form-control,
#page.light .form-select {
  color: white;
  background-color: #a3b4a2;
  color: #2f2222;
  border: 3px solid #cdc6ae;
}
#page.light .form-control:active, #page.light .form-control:focus, #page.light .form-control:hover,
#page.light .form-select:active,
#page.light .form-select:focus,
#page.light .form-select:hover {
  background-color: #a3b4a2;
  border: 3px solid #cdc6ae;
}
#page.light .card.film-list {
  background-color: #187795;
}
#page.light .card.film-list .card-header h3 {
  color: #cdc6ae;
}
#page.light .card.film-list .card-body .card {
  background-color: #a3b4a2;
  color: #fff;
}
#page.light .card.film-list .card-body .card button {
  color: #fff;
}
#page.light .card.film-list .card-body .card button:hover {
  color: #a3b4a2;
}
#page.light .pages-counter {
  border: 4px #CDC6AE solid;
  background-color: #a3b4a2;
}
#page.light .search-btn {
  background-color: #2589bd;
  border: 4px solid #cdc6ae;
}
#page.light .pagination li a {
  border: 4px #187795 solid;
  background-color: #a3b4a2;
  color: #052512;
}
#page.light .theme-changer-title {
  color: #fff;
}
#page.light #side-block {
  background-color: #187795;
  background-color: #38686a;
  color: #fff;
  border-right: #2589bd 7px solid;
}
#page.light #side-block:hover {
  color: #2f2222;
}
#page.light #side-block li a button {
  color: #ffffff;
}
#page.light #side-block li a button:hover {
  color: #99c5e5;
}
#page.light #side-block li a {
  color: #ffffff;
}
#page.light #side-block li a:hover {
  color: #99c5e5;
}
#page.light .phone_menu li a::before {
  content: "";
  border: 1px solid #fff;
}
#page.light .phone_menu li a:hover::before,
#page.light .phone_menu li a:active::before {
  background-color: #fff;
}
#page.light .hamburger.is-active .hamburger-inner,
#page.light .hamburger.is-active .hamburger-inner::after,
#page.light .hamburger.is-active .hamburger-inner::before {
  background-color: #98dbff;
}

@media screen and (max-width: 670px) {
  #page.light .hamb-menu {
    color: #11435e;
  }
  #page.light .hamburger-inner,
#page.light .hamburger-inner::after,
#page.light .hamburger-inner::before {
    background-color: #11435e;
  }
  #page.light .card__header__switch.mobile label {
    background: #2f2222;
  }
  #page.light .card__header__switch.mobile label:after {
    background: #fff;
  }
  #page.light .card__header__switch.mobile input:checked + label {
    background: #393512;
  }
  #page.light .theme-changer-title.mobile {
    color: #fff;
  }
}