

  $gold-color:#FFCC00;

 
  @mixin font-styles($color,$font-f,$font-w,$font-s,$line-h,$text-t){
    color:$color;
    font-family: $font-f;
    font-weight: $font-w;
    font-size: $font-s;
    line-height: $line-h;
    text-transform: $text-t;
  }

  @mixin circle-network ($color, $width,$height, $border-w, $border-r){
    width: $width;
    height: $height;
    border:$border-w $color solid;
    border-radius: $border-r;
  }
  *,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

  
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  color: #666666;
}


main{
    margin: 0 auto;  
}


.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    &__top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 450px;
        margin: 0 auto;
        margin-top: 110px;
        margin-bottom: 40px;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &__textS {
      @include font-styles (#898F8F,"Raleway",500,18px,24px,uppercase);
      margin-bottom: 15px;
    }

    &__textL {
        @include font-styles ($gold-color,'Roboto',900,60px,66px,uppercase);
        margin-bottom: 40px;
    }

    &__lines {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
     
    }

    &__person {
        max-width: 1150px;
    }
}
.icon-line {
    &__first {
      border-top: 1px solid $gold-color;
      width: 210px;
      margin-top: 7px;
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    &__second {
        border-top: 1px solid $gold-color;
        width: 210px;
        margin-top: 7px;
    }
}
.person {
    max-width: 1030px;
    margin: 0 auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;

    &__avatar--wrap {
        position: relative;
        margin-top: 65px;
     
        width: 430px;
        height: 430px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    &__photo {
        max-width: 400px;
        max-height:400px ;
        text-align: center;
    }



   

    &__separator {
        border-left: 1px solid $gold-color; 
        height: 560px;
    }

   

    &__info {
        width: 430px;
        text-align: center;
        margin-top: 65px;
       padding-bottom:65px;
    }
}
.info {

    &__name {
        @include font-styles (#666666,'Roboto',900,36px,34px,none);
        margin-bottom: 30px; 
    }

    &__line {
        width: 100px;
        border-bottom: 1px solid $gold-color;
        margin: 0 auto;
        margin-bottom: 35px; 
    }

    &__profesion {
        @include font-styles (#666666,'Raleway',400,24px,28px,none); 
        margin-bottom: 30px; 
    }

    &__networks  {
    
      width: 100%;
      height: 30px;
      margin-bottom: 49px; 
ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    li a{
        width: 30px;
        height: 30px;
        :hover{
            fill:#333333;
        }
    }
}
    }

    &__network {
       
        margin-left: 5px;
       @include circle-network (#CCCCCC, 30px, 30px, 2px, 50%);
       svg{
           margin-top: 3px;
          margin-left: 2px;
height: 12px;
width: 20px;
        fill:#CCCCCC;
        margin-top: 6px;
     
    }
    .google{
        height: 18px;
        width: 19px;
        font-size: 30px;
        margin-top: 4px;
    }
    }

    &__text {
        margin-bottom: 20px;
    }


 
    &__prgh {
        @include font-styles (#333333,'Raleway',500,14px,24px,none); 
    }

    &__lines {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 25px;
    }

  
    &__line--small {
        border-bottom: 4px solid $gold-color;
        width: 10px;
    }

  
    &__line--big {
        border-bottom: 4px solid $gold-color;
        width: 20px;
    }

 
    &__view a{
        @include font-styles (#666666,'Open Sans',700,14px,14px,uppercase);  
        text-decoration: none;
        border: 1px $gold-color solid;
        padding:2.5px 10px;

        
    }
    &__view{
        width: 118px;
        height: 24px;
        margin: 0 auto;
    }
}




.info__networks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.person__avatar{
    position: relative;
    ::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        left: 0;
        top:0;
        border-top: 1px $gold-color solid;
        border-left: 1px $gold-color solid;
    }
    ::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        left: 330px;
        top:0;
        border-top: 1px $gold-color solid;
        border-right: 1px $gold-color solid; 
    }
}

.person__avatar--wrap{
    position: relative;
    ::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        left: 0;
        top:329px;
        border-bottom: 1px $gold-color solid;
        border-left: 1px $gold-color solid;
        border-top: none;
    }
    ::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        left: 329px;
        top:330px;
        border-bottom: 1px $gold-color solid;
        border-right: 1px $gold-color solid; 
        border-top: none;
    }
}