<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/hamburgers.min.css" />
    <link rel="stylesheet" href="assets/css/lightTheme.min.css">

    <link rel="stylesheet" href="assets/css/style.min.css" />
    <title>Movies | Main</title>
  </head>
  <body >
    <div id="app">
   
      <div id="page"  :class="theme">
        <div class="page-overlay"  @click="burgerStates" :class="sideBlockControl"></div>
        <div id="side-block"  :class="sideBlockControl">
          <div class="wrapper">
            <nav id="mobile-menu">
              <div class="hamb-menu"  @click="burgerStates">
                <button class="hamburger hamburger--elastic" :class="hamburgerControl" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
              </div>
              <ul
              itemscope
              itemtype="http://shema.org/SiteNavigationElement"
              class="phone_menu "
            >
              <li><a   @click="burgerStates" itemprop="url" href="#"> How to Use</a></li>
              <li><a  @click="burgerStates" itemprop="url" href="#">Search Movies </a></li>
              <li>
                <a   @click="burgerStates" itemprop="url" href="#favorites">
                  <button @click="showFavorite=true">Favorite</button></a
                >
              </li>
              <li><a  @click="burgerStates" itemprop="url" href="#"> Contact</a></li>
            </ul>
                <!-- CHANGE THEME -->
  <div  class="card__header__switch mobile">
    <input  @click="changeTheme" type="checkbox" id="switcher" />
    <label for="switcher">Toggle</label>
    <span class="theme-changer-title mobile">Change Theme</span>
  </div>
  <!-- END CHANGE THEME -->
            </nav>
          </div>
        </div>
  
      <!-- START MENU  -->
      <header id="myheader">
        <div id="header-wrap" class="mycontainer">
          <div class="logo">
            <a href="#"> <img src="assets/images/logo.png" alt="logo" /></a>
          </div>
          <div id="main_menu">
            <ul
            itemscope
            itemtype="http://shema.org/SiteNavigationElement"
            class="main_menu"
          >
            <li><a itemprop="url" href="#"> How to Use</a></li>
            <li><a itemprop="url" href="#">Search Movies </a></li>
            <li>
              <a itemprop="url" href="#favorites">
                <button @click="showFavorite=true">Favorite</button></a
              >
            </li>
            <li><a itemprop="url" href="#"> Contact</a></li>
          </ul>
      
          </div>
        <div class="buttons-header">
          <div class="hamb-menu" @click="burgerStates" >
            <button class="hamburger hamburger--elastic" :class="hamburgerControl" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
<!-- CHANGE THEME -->
<div  class="card__header__switch">
  <input  @click="changeTheme" type="checkbox" id="switch" />
  <label for="switch">Toggle</label>
  <span class="theme-changer-title ">Change Theme</span>
</div>
<!-- END CHANGE THEME -->
        </div>
        
        </div>
      </header>

      <!-- FINISH MENU -->

      <div class="container main-page pt-4">

        <div class="card wrap-color mb-4">
          <div class="card-body wrap-color">
            <form id="search_form" @submit.prevent="searchMovies">
              <div class="row">
                <div class="col-5 long-input">
                  <input
                    type="search"
                    class="form-control "
                    placeholder="Enter movie title"
                    v-model="search"
                  />
                </div>
              
                <div class="col-2 medium-settings">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Year"
                    v-model="year"
                    min="1000"
                    max="3000"
                  />
                </div>

                <div class="col-4 medium-settings">
                  <select
                    v-model="movieType"
                    class="form-select"
                    aria-label=" select example"
                  >
                    <option selected>Type</option>
                    <option value="series">Series</option>
                    <option value="movie">Movie</option>
                    <option value="episode">Episode</option>
                  </select>
                </div>
                <div class="col-4 submit">
                  <button type="submit" class="btn search-btn btn-warning">SEARCH</button>
                </div>
                </div>
                  
                
               
             
            </form>
          </div>
        </div>
        <div class="card film-list">
          <div class="card-header">
           
            <h3>Movies List</h3>
          </div>
          <div class="card-body row films">
            <template
              v-for="movie in   moviesAndFavorites()"
              :key="movie.imbdID  "
            >
              <movie-item
                :movie="movie"
                @get-movie-info="getMovieInfo"
                @add-to-favorites="addToFavorites"
              />
            </template>
            <!-- PAGINATION START -->
            <nav aria-label="Page navigation example">
              <div v-if="totalPages>1" class="pages-counter"> Page: {{this.page}}</div>
              <ul class="pagination" v-if="totalPages > 1">
               
                <li class="page-item">
                  <a
                    v-if="page > 1"
                    class="page-link"
                    href="#"
                    aria-label="Previous"
                    @click="goToPage(page-1)"
                  >
                    <span aria-hidden="true"> &laquo; Previous</span>
                  </a>
                </li>
                <!-- TO SHOW ALL IF THERE TO 6 PAGES -->
                <li
                  v-for="page in totalPages"
                  :key="page"
                  v-if="totalPages < 6"
                  class="page-item six-list"
                >
                  <a @click="goToPage(page)" class="page-link" href="#"
                    >{{page}}</a
                  >
                </li>

                <!-- IF WE HAVE MORE RHAN 6 PAGES: -->

              
                
                <li v-else if="page > 3" class="page-item">
                  <li
                  v-for="page in 6"
                  :key="page"
  
                  class="page-item  six-list"
                >
                  <a @click="goToPage(page)" class="page-link" href="#"
                    >{{page}}</a
                  >
                </li>
                <li>   <a class="page-link" href="#"
                  >...</a
                ></li>
                
                </li>


                <li if="page < totalPages-1" class="page-item">
                  <a @click="goToPage(totalPages)" class="page-link" href="#"
                    >{{this.totalPages}}</a
                  >
                </li>

                <li v-if="page < totalPages"   @click="goToPage(page+1)" class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"> Next &raquo;</span>
                    <br>
                 
                    
                  </a>
                </li>
              </ul>
            </nav>

            <!-- PAGINATION END -->

            <!-- FAVORITES LIST -->
            <div id="favorites" class="favorite-section" v-if="showFavorite ">
              <div class="card-header">
                <h3>Favorite Movies</h3>
              </div>
              <div class="card-body row">
                <template v-for="movie in favorites" :key="movie.imbdID">
                  <movie-item
                    :movie="movie"
                    @get-movie-info="getMovieInfo"
                    @add-to-favorites="addToFavorites"
                  />
                </template>
                <!-- END FAVORITES -->
              </div>
 
              <!-- MODAL START -->
              <div class="modal_overlay" v-if="showModal">
                <div class="myModal">
                  <div class="film-info">
                    <div class="poster-info">
                      <div class="img-wrap">
                        <img
                          :src="movieInfo.Poster"
                          class="card-img-top"
                          :alt="movieInfo.Title"
                        />
                      </div>
                      <div class="main-info">
                        <h3>{{movieInfo.Title}}</h3>
                        <div v-if="movieInfo.Genre!== 'N/A'">
                          <span class="cursive-title"> Genre: </span>
                          {{movieInfo.Genre}}
                        </div>
                        <div v-else>
                          <span class="cursive-title">Genre:</span>
                          Info not found
                        </div>
                        <div v-if="movieInfo.Year!== 'N/A'">
                          <span class="cursive-title">Year:</span>
                          {{movieInfo.Year}}
                        </div>
                        <div v-else>
                          <span class="cursive-title">Year:</span>
                          Info not found
                        </div>
                        <div v-if="movieInfo.Runtime!== 'N/A'">
                          <span class="cursive-title">Runtime:</span>
                          {{movieInfo.Runtime}}
                        </div>
                        <div v-else>
                          <span class="cursive-title">Runtime:</span>
                          Info not found
                        </div>
                        <div v-if="movieInfo.Director!== 'N/A'">
                          <span class="cursive-title">Director:</span>
                          {{movieInfo.Director}}
                        </div>
                        <div v-else>
                          <span class="cursive-title">Director:</span>
                          Info not found
                        </div>
                        <div class=" rating-title" v-if="movieInfo.imdbRating!== 'N/A'">
                          <span class="cursive-title">Rating:</span>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" :style="{width: movieInfo.imdbRating*10 + '%'}" aria-valuenow="movieInfo.imdbRating" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <!-- <span class="progress-bar"></span> -->
                          <!-- {{movieInfo.imdbRating}} -->

                        </div>
                        <div v-else>
                          <span class="cursive-title">Rating:</span>
                          Info not found
                        </div>
                        <div v-if="movieInfo.imdbVotes!== 'N/A'">
                          <span class="cursive-title">Votes:</span>
                          {{movieInfo.imdbVotes}}
                        </div>
                        <div v-else>
                          <span class="cursive-title">Votes:</span>
                          Info not found
                        </div>
                      </div>
                    </div>

                    <h4>About</h4>
                    <div v-if="movieInfo.Plot !== 'N/A'" class="plot">
                      {{movieInfo.Plot}}
                    </div>
                    <div v-else>Info not found</div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-warning"
                    @click="showModal=false"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MODAL END -->
      </div>
    </div>
    </div>

    <template id="movieItem">
      <div class="card col-3">
        <img
          :src="movie.Poster"
          class="card-img-top"
          :alt="movie.Title"
          v-if="movie.Poster !== 'N/A'"
        />
        <img
          v-else
          src="assets/images/notFound.jpg"
          alt="Not found movie poster"
        />

        <div class="card-body">
          <h5 class="card-title">{{movie.Title}}</h5>
          <p class="card-text">{{movie.Year}}</p>
          <div class="card-buttons">
            <button
              type="button"
              class="btn btn-warning"
              @click="getMovieInfo(movie.imdbID)"
            >
              MORE INFO
            </button>
            <div class="favorite-adder" @click="addToFavorites(movie.imdbID)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                :fill="movie.inFav ? '#f00' : '#fff'"
                class="bi bi-bookmark-heart"
                viewbox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"
                />
                <path
                  d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                />
              </svg>
            </div>
          </div>
        </div>

      </div>
    </template>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/movie.js"></script>
  </body>
</html>
